rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - ruby-head
before_install:
  - gem update --system
  - gem update bundler
  - gem cleanup bundler
install: "bundle install --jobs 8"
script: "bundle exec rake"
gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/5.1.gemfile
  - gemfiles/5.2.gemfile
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
branches:
  only:
    - master

sudo: false
cache: bundler
