rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.2
  - 2.3.0
  - jruby-19mode
  - rbx-2
before_install:
  - gem update --system
  - gem update bundler
  - gem cleanup bundler
install: "bundle install --jobs 8"
script: "bundle exec rake"
gemfile:
  - gemfiles/3.2.gemfile
  - gemfiles/4.0.gemfile
  - gemfiles/4.1.gemfile
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
matrix:
  fast_finish: true
  allow_failures:
    - rvm: jruby-19mode
      gemfile: gemfiles/5.0.gemfile
    - rvm: 1.9.3
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.1.0
      gemfile: gemfiles/5.0.gemfile
    - rvm: rbx-2
      gemfile: gemfiles/5.0.gemfile
branches:
  only:
    - master

sudo: false
cache: bundler
